<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.auburn.eng.csse.comp3710.team5" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/aricon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="edu.auburn.eng.csse.comp3710.team05.Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity
            android:name="edu.auburn.eng.csse.comp3710.team05.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <!--android:screenOrientation="landscape"-->>
        </activity>

    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-feature android:name="android.hardware.sensor.*"
        android:required="true" />

</manifest>
